# Ignore node_modules
backend/node_modules/
frontend/node_modules/

# Ignore environment variable files
backend/.env

# Ignore logs and cache files
*.log
logs/
.cache/
.history/

# Ignore build files
dist/
build/

# Ignore temporary and editor-specific files
*.tmp
*.swp
*.swo
*.bak
.DS_Store
Thumbs.db
.vscode/
.idea/
